
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #29335c;
  color: white;
  width: 100%;
  height: 61px; 
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  margin-top: auto;
}

.Contenido-izq {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 60px; /* Altura máxima del logo */
}

.Contenido-Derecho {
  display: flex;
  align-items: center;
  padding-right: 20px; /* Usa padding en lugar de margin para mantener la distancia */
}
