@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");


.navbar-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    width: 100%; 
}

	
:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #727272;
	--textColor: #eee;
}

.navbar-header {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	width: 100vw; 
	margin-top:-8px;
	z-index: 1000;
}

.navbar-nav a {
	margin: 0 2rem;
	color: var(--textColor);
	text-decoration: none;
	align-items: right;
}

.navbar-nav a:hover {
	color: var(--secondaryColor);
}

.navbar-header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
	margin-left: auto;
}

.navbar-header div,
.navbar-nav {
	width: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
}



@media only screen and (max-width: 1024px) {
	.navbar-header .nav-btn {
		visibility: visible;
		opacity: 1;
		margin-right: 5%;
	}

	.navbar-header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		z-index: 1000;
	}

	.navbar-header .responsive_nav {
		transform: translateY(100vh);
	}

	.navbar-nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.navbar-nav a {
		font-size: 1.5rem;
	
	}
}

.navbar-nav a.active {
    color: var(--secondaryColor); /* Cambia esto al color que desees para la opción activa */
    font-weight: bold;
}
