.news-container {
  width: 50%;
  max-height: 200px;
  height: auto;
  height: 40%;
  background: rgba(255, 255, 255, 0.8); /* Blanco translúcido */
  border-radius: 10px;
  padding: 1.01%;
  margin: -4% 22% 5% 26%; /* Ajustar todos los márgenes de una vez */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permite el scroll si hay demasiadas noticias */
}


  .news-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.05); /* Translucidez en las tarjetas */
    padding: 18px;
    border-radius: 5px;
    
  }
  
  .date {
    margin-right: 20px;
    text-align: center;
    color: #555;
  }
  
  .date .day {
    font-size: 24px;
    font-weight: bold;
    margin-right:4px;
  }
  
  .date .month {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .news-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color:#29335c;
  }
  
  .news-content p {
    margin: 0;
    color: #666;
  }
  
  .news-container::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
  }
  
  .news-container::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .news-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  .news-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

